# exclude jupyter checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/

cache/

# exclude data files
*.csv
*.xlsx
*.geojson
*.json
*.txt
*.tsv
data/

!cycling_rates_london_cleaned_2016-2021.csv
!episode1_each_line_of_anakin_clean.csv
!LA_and_Regional_Spreadsheet_2022-23_for_Web_revised.xlsx

#geofiles
*.qgz
*.gpkg
*.gpx
*.cpg
*.dbf
*.prj
*.shp
*.xml
*.shx
*.hexjson
*.geojson
*.lyr
*.tif

# exclude images
*.png
*.jpg
*.jpeg
*.svg

#exclude docs
*.docx
*.pdf

#exclude design files
*.ai

#config files
*.cfg

# qgis files
*.qgs