# exclude jupyter checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/

cache/

# exclude data files
*.csv
*.xlsx
*.geojson

# exclude images
*.png
*.jpg
*.jpeg
*.svg

#exclude design files
*.ai
