
body {
    background-color:#141414;
}

body p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300; 
    /* font-size: 1rem;*/
    font-size: 1.15rem;
    line-height: 1.65em;
    margin-bottom: 2rem;
    color: #F7F7F7
}

#title-container {
    max-width: 45rem;
    margin: auto;
    padding: 80px 0 80px 0;
}

.title {
    font-family: 'Mansalva', serif;
    font-weight: 400; 
    font-size: 3.6rem;
    text-align: center; 
    margin-bottom: 50px;  
    color: #F7F7F7; 
    text-transform: uppercase;
} 

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 300; 
    font-size: 2.1rem;
    text-align: center; 
    margin-bottom: 25px; 
    color: #F7F7F7; 
} 

/* Styling for the word 'colorful' */
.colorful {
    font-weight: 800;
    display: inline-block;
    letter-spacing: -1.5px; 
    margin: 0 8px 0 8px;
    /*background-color: #171717;*/
    padding: 0 0 0 0;
    border-radius: 4px;
}
  
/*color pattern for each letter of 'colorful' */
.colorful span {
    display: inline-block;
} 
.colorful .c {
    color: #E4CD6F;
}
  
.colorful .o {
    color: #FFB400;
}
  
.colorful .l1 {
    color: #E2B95A;
}
  
.colorful .o2 {
    color: #FFD000;
}
  
.colorful .r {
    color: #FFE714;
}
  
.colorful .f {
    color: #FFEE8F;
}
  
.colorful .u {
    color: #6EB3D5;
}
  
.colorful .l2 {
    color: #FFFDC7;
}

#intro-content {
    max-width: 45rem;
    margin: auto;   
}

